@use "_utils.scss";

header.main-title {
  text-align: center;
  margin-top: 6.5rem;
}

h1.main-title {
  margin: 3.75rem 0;
  font-size: 3.25rem;
}

.display {
  color: utils.$light-grayish-blue;
}

.switch {
  position: relative;
  display: inline-block;
  width: 5.75rem;
  height: 3.4rem;
  margin: 0 1.9rem;
  padding-top: 0.75rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  @include utils.linear-background;

  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:hover,
.slider.focus {
  opacity: 0.7;
}

.slider::before {
  position: absolute;
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  left: 0.6rem;
  bottom: 0.4rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
  -webkit-transform: translateX(2.1rem);
  -ms-transform: translateX(2.1rem);
  transform: translateX(2.1rem);
}

.slider.round {
    border-radius: 3.4rem;
}

.slider.round::before {
    border-radius: 50%;
}